// mixins

@mixin flex_center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_column_center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
