@import '../../styles/mixins';
@import '../../styles/variables';

.BarChartBox {
    width: 100%;
    height: 100%;
    color: $main-color;

    h2 {
        font-size: 1.6rem;
    }

    .chart {
        width: 100%;
        height: 85%;

    }
}