@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/responsive";

.Piechart {
    width: 100%;
    height: 100%;
    @include flex_center;

    h1 {
        width: 100%;
        text-align: left;
    }

    .chart {
        width: 90%;
        height: 80%;
    }

    .options {
        gap: 1.5rem;
        font-size: 1.2rem;
        color: $soft-color;
        font-weight: 600;
        @include flex_center;
        text-align: center;

        @include xxl {
            flex-wrap: wrap;
            row-gap: .3rem;
            justify-content: space-around;

            h1 {
                // font-size: 1.4rem;
            }
        }

        .option {
            margin-top: auto;
            margin-top: 1.5rem;

            .text {
                @include flex_center;
                gap: 0.7rem;

                .dot {
                    height: 0.8rem;
                    width: 0.8rem;
                    border-radius: 0.8rem;
                }
            }
        }
    }
}
