@import "../../styles/mixins";
@import "../../styles/variables";

.TopBox {
    h1 {
        font-weight: 800;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .list-items {
        padding-left: 1rem;
        padding-block: 1rem;
        gap: 2rem;
        font-size: 1.6rem;

        .user {
            justify-content: flex-start;
            align-items: center;

            @include avatar(3rem, 3rem);

            .user-info {
                scale: 0.8;

                .name {
                    font-weight: 600;
                }

                .email {
                    font-weight: 400;
                    font-size: 1.4rem;
                }
            }

            .amt {
                margin-left: auto;
                // padding-left: 1.5rem;
            }
        }
    }
}
