@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/responsive";

.Sidebar {
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: $dark-bg;
    font-size: 1.4rem;
    color: $main-color;
    border-right: 3px solid #2a3447;
    width: fit-content;
    height: 90vh;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 14px 14px transparent;
        border: solid 4px transparent;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 14px 14px lighten($soft-bg, 4);
        border: solid 4px transparent;
        border-radius: 14px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    .items {
        .item {
            margin-right: 3rem;
            width: fit-content;

            span {
                font-size: 1.1rem;
                color: $soft-color;
            }

            .links {
                padding-block: 1rem;
                gap: 0.2rem;
                width: fit-content;

                a {
                    padding-block: 1rem;
                    padding-inline: 1.8rem;
                    font-weight: 600;
                    color: white;
                    text-decoration: none;
                    border-radius: 1rem;
                    @include flex-center;
                    justify-content: flex-start;
                    gap: 1rem;

                    span {
                        font-size: 1.4rem;
                    }

                    &.active {
                        background-color: $soft-bg;
                        border-radius: 0.5rem;
                    }

                    img,
                    i {
                        height: 1.8rem;
                        font-size: 1.8rem;
                        font-weight: 400;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $soft-bg;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
}

// responsive design

.Sidebar {
    @include lg {
        padding-inline: 1.2rem;
    }

    @include lg {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .items {
        .item {
            @include lg {
                margin-right: 0rem;
            }

            span {
                @include lg {
                    display: none;
                }
            }

            .links {
                @include lg {
                    padding-block: 0rem;
                }
                a {
                    @include lg {
                        padding-inline: 1.1rem;
                    }

                    span {
                        @include lg {
                            display: none;
                            // visibility: hidden;

                        }
                    }
                }
            }
        }
    }
}
