@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/responsive";

.Footer {
    padding: 2rem;
    background-color: $dark-bg;
    margin-top: 10px;
    font-size: 1.4rem;
    width: 100%;
    color: $main-color;
    // position: absolute;

    .left {
        font-weight: 600;
    }

    .copyright {
        @include flex_center();
        gap: 0.5rem;
        margin-left: auto;
    }

}
