@import "../../styles/mixins";
@import "../../styles/variables";

.Products {
    width: 100%;
    height: 100%;
    padding-inline: 2rem;
    color: $main-color;
    font-size: 1.6rem;
    gap: 2rem;
    padding-block: 1rem;

    .head {
        gap: 3rem;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            font-weight: 700;
        }

        .add {
            background-color: $soft-bg;
            color: $main-color;
            font-size: 1.3rem;
            font-weight: 600;
            padding: 0.7rem 1.5rem;
            border: none;

            &:hover {
                background-color: lighten($soft-bg, 5);
            }
        }
    }
}